# Google Custom Search API (for X-ray LinkedIn search)
# Get from: https://console.cloud.google.com/apis/credentials
GOOGLE_API_KEY=your_google_api_key_here

# Google Custom Search Engine ID
# Create at: https://programmablesearchengine.google.com/
# Set "Search the entire web" = ON
GOOGLE_CX_ID=e48a31ccf2a4c4696


# Google Sheets Spreadsheet ID
# Create a new Google Sheet, the ID is in the URL:
# https://docs.google.com/spreadsheets/d/SPREADSHEET_ID/edit
GOOGLE_SHEET_ID=your_spreadsheet_id_here

# Google Service Account credentials JSON file path
# Create at: https://console.cloud.google.com/iam-admin/serviceaccounts
# Download the JSON key file and place it in the backend folder
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
